---js
{
    // Data for the Eleventy Navigation plugin
    eleventyNavigation: {
        key: "Home",
        order: 1,
		parent: "mainNav"
    },
    
    // Other page-specific front matter
    layout: "layouts/base.njk",
    title: "hello! this is dewalters.net",
    permalink: "/index.html",
}
---
