---
layout: layouts/base.njk
title: Once eleventy Theme - Demo
description: This is a description of Once Eleventy Theme
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 6
---
<section class="section is-flex-grow-1">
  <div class="container">

    <div class="columns is-variable is-5-desktop is-multiline is-mobile">
        {% set postsCount = collections.posts | length %}
        {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

        {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
        {% set postslistCounter = postsCount %}

        {% include "partials/article-card.njk" %}
        
    </div>

    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
    <div class="columns">
      <div class="column has-text-centered">
        <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/writing/">the archive</a>.</p>
      </div>
    </div>
    {% endif %}  

  </div>
</section>
