{% include "partials/head.njk" %}
  <body class="is-flex is-flex-direction-column">
    {% include "partials/nav.njk" %}

    {{ content | safe }}

    {% include "partials/footer.njk" %}
  </body>
</html>